{% extends "base.html" %}
{% block content %}
<main>
  <section class="container my-5 px-4">
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <h1 class="text-center">Хьюстон, у нас проблемы!</h1>
          <p class="text-center">
            Возможно, на сервере произошёл сбой. Попробуйте обновить страницу
            сейчас или через пару минут.
          </p>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
